<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Hello</title>
</head>
<body>
	<h1>Reports</h1>
	{% for message in messages %}
	<div> {{message.text}}</div>
	<h3></h3>
	{% endfor %}
</body>
</html>

